.hide {
    display: none;
}


@media screen and (max-width:567px) {
    .nav-container {
        flex-direction: column;
        justify-content: center;
    }
    .logo {
        margin-bottom: 20px;
    }
    .menu {
        flex-direction: column;
    }
    .follow-us {
        margin-top: 10px;
    }
    .header-main-section {
        flex-direction: column-reverse;
    }
    .header-left-column, .header-right-column {
        width: 80%;
        margin: 0 auto;
    }
    .header-left-column {
        padding: 50px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-right-column {
       padding: 50px 10px;
    }
    .we-are-gamer-container {
        flex-direction: column;
    }
    .we-are-gamer-left-column, .we-are-gamer-right-column {
        width: 95%;
    }
    .we-are-gamer-right-column {
        text-align: center;
        margin-top: 50px;
    }
    .online-games-section {
        width: 80%;
    }
    .online-games-title span {
        display: block;
    }
    .online-games-items {
        flex-direction: column;
    }
    .online-games-items .items {
        margin: 10px auto 40px auto;
        text-align: center;
    }
    .online-games-items div {
        width: 80%;
        margin: 0 auto;
    }
}