.hide {
    display: none;
}


@media screen and (max-width:567px) {
    .nav-container {
        flex-direction: column;
        justify-content: center;
    }
    .logo {
        margin-bottom: 20px;
    }
    .menu {
        flex-direction: column;
    }
    .follow-us {
        margin-top: 10px;
    }
    .header-main-section {
        flex-direction: column-reverse;
    }
    .header-left-column, .header-right-column {
        width: 80%;
        margin: 0 auto;
    }
    .header-left-column {
        padding: 50px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-right-column {
       padding: 50px 10px;
    }
}