@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}
/* Reusable style start */
.primary-btn {
    padding: 18px 36px;
    margin: 10px 0;
    background-color: #FF42A5;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.secondery-btn {
    background-color: #4EC5F7;
}
.pink {
    color: #FF42A5;
}
.section-title {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-desc {
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
/* End */

/* Header section style start */
header nav {
    box-shadow: 1px 1px 10px rgb(244, 232, 232);
}
header nav .nav-container {
    width: 85%;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    display: flex;
    align-items: center;
    justify-content: start;
}
nav .logo h2 {
    color: #0B0223;
    margin-left: 10px;
    font-size: 35px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
}
nav ul li {
    padding: 13px 20px;
}
nav ul li a {
    color: #3C354F;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}
nav ul .follow-us {
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
nav ul .follow-us a{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
nav ul .follow-us a:nth-child(1) {
    margin-left: 0;
}
nav ul .follow-us a:nth-child(3) {
    margin-left: 10px;
}
nav ul li a img {
    width: 20px;
}
.header-main-section {
    display: flex;
}
.header-left-column {
    width: 50%;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0 100px 100px;
}
.header-left-column h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: #0B0223;
    font-weight: 600;
}
.header-left-column h1 {
    font-size: 85px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-left-column ul {
    margin: 25px 0;
}
.header-left-column ul li {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    text-transform: lowercase;
}
.header-left-column li i {
    margin-right: 10px;
    font-size: 16px;
    color: #FF42A5;
}
.header-left-column ul li:nth-child(1) i {
    border: 1px solid #0B0223;
    border-radius: 100px;
    padding: 4px 4px 4px 6px;
    font-size: 10px;
    text-align: center;
    color: #FF42A5;
}
.header-left-column ul li:nth-child(3) i {
    color: #0B0223;
}
.header-left-column .sign-in-btn {
    margin-right: 10px;
}
.header-right-column {
    width: 50%;
    padding: 10px 100px 0 0;
}
.header-right-column img {
    width: 100%;
}
/* End */

/* We are gamer section */
.we-are-gamer-section {
    background-color: rgba(255, 66, 165, 0.03);
}
.we-are-gamer-container {
    width: 85%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
}
.we-are-gamer-left-column {
    width: 60%;
}
.we-are-gamer-left-column img {
    width: 100%;
}
.we-are-gamer-right-column {
    width: 40%;
    text-align: right;
}
.we-are-gamer-right-column p {
    margin: 40px 0;
}
.we-are-gamer-right-column .our-propose {
    font-size: 20px;
    margin-bottom: 5px;
}
.we-are-gamer-right-column h3 {
    color: #534C64;
    font-size: 24px;
    font-weight: 600;
}
/* End */

/* Online games section */
.online-games-section {
    width: 85%;
    margin: 0 auto;
    padding: 100px 0;
}
.online-games-title {
    text-align: center;
}
.online-games-title span {
    background: linear-gradient(180deg, #000000 0%, #000000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-title p {
    margin: 10px 0 50px 0;
}
.online-games-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.online-games-items div {
    width: 23%;
}
.online-games-items div .sub-items {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
}
.online-games-items div .sub-items:hover {
    border: 2px solid #FF42A5;
}
.online-games-items div .sub-item-1 {
    background-image: url(../images/Rectangle\ 4.png);
}
.online-games-items div .sub-item-2 {
    background-image: url(../images/Rectangle\ 5.png);
}
.online-games-items div .sub-item-3 {
    background-image: url(../images/Rectangle\ 7.png);
}
.online-games-items div .sub-item-4 {
    background-image: url(../images/Rectangle\ 6.png);
}

.online-games-items div .sub-items .item-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease;
}
.online-games-items div .sub-items:hover .item-content{
    opacity: 1;
}
.online-games-items div .sub-items .item-content i {
    background-color: #ffffff;
    padding: 10px 12px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.online-games-items div .sub-items .item-content h4 {
    color: #FF42A5;
    font-size: 18px;
    font-weight: 600;
}
.online-games-items div p {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 15px;
}
/* End */
