@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}
.pink {
    color: #FF42A5;
}



header nav {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(147, 226, 184); */
}
nav div {
    display: flex;
    align-items: center;
    justify-content: start;
}
nav div h2 {
    color: #0B0223;
    margin-left: 10px;
    font-size: 35px;
}
ul {
    display: flex;
    align-items: center;
    justify-content: end;
}
ul li {
    list-style: none;
    padding: 13px 20px;
}
ul li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}
ul .follow-us {
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
ul .follow-us a{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
ul .follow-us a:nth-child(1) {
    margin-left: 0;
}
ul .follow-us a:nth-child(3) {
    margin-left: 10px;
}
ul li a img {
    width: 20px;
}